{
  "env": {
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    //    "requireConfigFile": false,
    //    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "linebreak-style": 0,
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "React"
      }
    ]
  }
}
