.profile {
  position: relative;
  width: 100%;
  max-width: 410px;
  justify-content: center;
  padding-top: 74px;
  margin: 0 auto;
}

.profile-form {
  display: grid;
}

.profile-form__title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.profile-form__fieldset {
  display: grid;
  margin: 0;
  padding: 123px 0 0;
  border: 0;
}

.fieldset-input {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 500;
}

.fieldset-input_type_name {
  display: flex;
  text-align: right;

  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

.fieldset-input_type_email {
  text-align: right;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

.fieldset-input__divider {
  margin: 16px 0;
}

.fieldset__buttons {
  display: grid;
  padding-top: 220px;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.fieldset-button {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.fieldset-button:hover {
  opacity: 0.8;
}

.fieldset-button_logout {
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile-form__fieldset {
    padding: 96px 0 0;
  }

  .fieldset__buttons {
    padding-top: 210px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 70px 30px 0;
  }

  .profile-form__fieldset {
    padding: 80px 0 0;
  }

  .fieldset__buttons {
    padding-top: 380px;
  }
}
