.movies-card-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  padding: 70px 70px 10px;
}

.service-message {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 110px 70px 50px;
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    padding: 60px 30px 30px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card-list {
    padding: 40px 10px 20px;
  }
}
