.auth {
  display: grid;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-header {
  display: grid;
  padding-bottom: 40px;
  gap: 40px;
}

.auth-title {
  font-size: 24px;
  font-weight: 500;
}

.auth-form__label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
}

.auth-form__input {
  display: grid;
  max-width: 396px;
  width: 100%;
  padding: 5px 0 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #424242;
  color: #ccc;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease;
}

.auth-form__input:last-of-type {
  margin-bottom: 0;
}

.auth__input:focus {
  border-color: #4285f4;
}

.auth-form__error {
  margin: 6px 0 65px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
}

.auth__signup {
  display: grid;
  padding: 70px 0;
  margin: 0;
  max-width: 396px;
  font-size: 14px;
  font-weight: 400;
  gap: 16px;
}

.signup-button {
  max-width: 396px;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #4285f4;
  color: #fff;
  padding: 0;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-button:hover {
  opacity: 0.8;
}

.signup-basement__link {
  text-decoration: none;
  color: #4285f4;
  padding-left: 6px;
}

input[type='password'] {
  color: #ee3465;
}

.signup-basement {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .auth {
    padding: 30px;
  }

  .auth-header {
    display: grid;
    margin: 0 auto;
    place-items: center;
  }

  .auth-title {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }

  .auth__signup {
    padding: 140px 0 0;
  }
}
