.portfolio {
  height: 475px;
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 55px 70px 125px;
}

.section-subheader {
  color: #8b8b8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 50px;
}

.portfolio__content__item {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.portfolio__divider {
  margin: 20px 0;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
}

.portfolio__arrow-up {
  width: 50px;
  height: 50px;
  background: url('../../../images/link-arrow-up.svg') no-repeat center;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    height: 525px;
    padding: 90px 50px;
  }

  .section-subheader {
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 20px;
  }

  .portfolio__content__item {
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    height: 330px;
    padding: 35px 14px;
  }

  .section-subheader {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__content__item {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__arrow-up {
    width: 18px;
    height: 28px;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
