.portfolio {
    height: 475px;
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    padding: 55px 70px 125px;
}

.section-subheader {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 50px;
}

.portfolio__content__item {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;
}

.portfolio__link {
    text-decoration: none;
    color: #fff;
}

.portfolio__arrow-up {
    width: 50px;
    height: 50px;
    background: url("../../../images/link-arrow-up.svg");
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -1.2px;
}