.promo {
    background-color: #073042;
}

.promo__container {
    position: relative;
    flex-wrap: wrap;
    height: 560px;
    margin: 0 auto;
    max-width: 1280px;
    padding: 50px 70px 60px 70px;
}

.promo__text {
    padding-bottom: 102px;
    max-width: 626px;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -1.6px;
}

.promo__ellipses {
    display: flex;
    max-width: 722px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: auto;
    margin-left: auto;
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .promo__container {
        display: flex;
        flex-direction: row;
        padding: 300px 44px 70px;
        height: 844px;
    }

    .promo__text {
        text-align: center;
        padding-bottom: 0;
    }

    .promo__ellipses {
        width: 680px;
        height: 230px;
        align-self: end;
    }
}

@media screen and (max-width: 480px) {
    .promo__container {
        padding: 183px 0 40px;
        height: 630px;
    }

    .promo__text {
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -1.24px;
        padding: 0 10px ;
    }

    .promo__ellipses {
        max-width: 100%;
        align-self: end;
    }
}
