.about-me {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  padding: 110px 70px 50px;
}

.about-me__divider {
  margin: 23px 0 66px;
}

.about-me__info {
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(230px, 600px) minmax(210px, 270px);
  grid-template-rows: fit-content;
  gap: 50px;
}

.about-me__desc {
  display: grid;
  min-height: fit-content;
}

.about-me-desc__title {
  display: grid;
  flex-direction: column;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  padding-bottom: 18px;
}

.about-me-desc__subtitle {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 26px;
}

.about-me-desc__text {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me-desc__link {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .about-me {
    flex-direction: row;
    margin: 0 auto;
    padding: 90px 50px 45px;
  }

  .about-me-desc__title {
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me-desc__subtitle {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me-desc__text {
    padding-bottom: 85px;
    font-size: 12px;
    line-height: 18px;
    min-height: fit-content;
  }
}

@media screen and (max-width: 612px) {
  .about-me {
    padding: 70px 26px 45px;
  }

  .about-me__info {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-me-info__photo {
    place-self: center;
  }
}

@media screen and (max-width: 480px) {
  .about-me {
    padding: 70px 14px 35px;
  }

  .about-me-desc__title {
    padding-bottom: 20px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }

  .about-me__divider {
    margin: 28px 0 60px;
  }

  .about-me-desc__subtitle {
    padding-bottom: 20px;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
  }

  .about-me-desc__text {
    padding-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me-desc__link {
    font-size: 14px;
    font-weight: 500;
  }
}
